
@font-face {
    font-family: 'Moonshine';
    src: url('assets/fonts/Moonshine.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Moonshine', sans-serif;
    background: url('assets/images/blueprint-bg.jpg') repeat;
    color: white;
    text-align: center;
}

.container {
    padding: 60px 20px;
}

.logo {
    max-width: 300px;
    margin-bottom: 30px;
}
